/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body {
  margin: 0;
  font-family: Lato, Arial, sans-serif;
  background: #444;
}

body {
  position: absolute;
  height: 100%;
  width: 100%;
}

:root {
  --select-border-radius: 8px;
}
